doctype html
html(lang='en')
	head
		title= title
		block head
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href=cssSrc)
		script(type='text/javascript', src=jsSrc)
	body
		header
			h1 Page is still under Contruction!
		.wrapper
			main
				block content
			footer
				h3 By Blizzardian
